<!DOCTYPE html>
<html lang="en">

  <head>
    <!-- meta data -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <!-- ion icons -->
    <script type="module" src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons/ionicons.esm.js">
    </script>
    <script nomodule="" src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons/ionicons.js">
    </script>

<<<<<<< HEAD
=======
    <!-- jsPDF -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js" integrity="sha384-NaWTHo/8YCBYJ59830LTz/P4aQZK1sS0SneOgAvhsIl3zBu8r9RevNg5lHCHAuQ/" crossorigin="anonymous"></script>
>>>>>>> df7c84c982f8cb74871a0a3d0888f0d07d6415bd

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Livvic:100,200,400,700&display=swap" rel="stylesheet">



    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/styles/main.css"  title="no title" charset="utf-8"/>
    <link rel="stylesheet" type="text/css" media="screen and (max-width: 768px)" href="/styles/small.css"  title="no title" charset="utf-8" />
    <link rel="stylesheet" type="text/css" media="screen and (min-width: 769px)" href="/styles/medium.css"  title="no title" charset="utf-8" />
    <link rel="stylesheet" type="text/css" media="screen and (min-width: 1025px)" href="/styles/large.css"  title="no title" charset="utf-8" />

    <title>Next Step Resume</title>

  </head>

  <body>
    {{{body}}}
  </body>

</html>
