<div id="demo">

    <div id="please_no" class="top">
        <h1>Questions</h1>
    </div>
    <div class="bottom">


        <section id="green_sock">

            <h2>Green Sock</h2>
            <div class="image_wrap_demo">

                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/logo-man.svg" alt="green sock">

            </div>

        </section>

        <section id="scss">
            <h2>SCSS</h2>
            <div class="image_wrap_demo">

                <img src="https://sass-lang.com/assets/img/styleguide/seal-color-aef0354c.png" alt="sass">

            </div>

        </section>

        <section id="prepros">

            <h2>PrePros</h2>
            <div class="image_wrap_demo">

                <img src="https://miro.medium.com/max/500/1*7aJF1SSBTqLuE9niJ0g6sA.png" alt="green sock">

            </div>

        </section>

        <section id="heroku">

            <h2>QR CODE</h2>
            <div class="image_wrap_demo">

                <img src="https://cdn-web.qr-code-generator.com/wp-content/themes/qr/new_structure/assets/media/images/api_page/qrcodes/color/Api_page_-_QR-Code-Generator_com-c-1.png"
                    alt="green sock">

            </div>

        </section>


    </div>
    <div id="sup" class="extra_bottom">
        <section>
            <h2>Example Questions</h2>
            <p>What was your favorite part of the project?</p>
            <p>What would you do differently now that you have finished?</p>
            <p>How cool was it working with Matthew Carpenter?</p>
            <p>What's the <em>next</em> step?</p>
            <p>Any fun tricks you learned that you want to share?</p>
        </section>
    </div>


</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous">
    </script>
<script src="https://cdn.jsdelivr.net/npm/gsap@3.0.1/dist/gsap.min.js">
</script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/demo.js"></script>