<div class="container">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Questions</h5>

          <div class="container">

            <button class="big_red_button" style="background-color: #e74c3c; color: #fff;">PRESS</button>
            <form>
              <div class="form-group">
                <label for="question1"> Question 1</label>
                <textarea class="form-control" id="question1" rows="2"></textarea>
              </div>
              <section class="page_question1">
                <!--full_name-->
                <h3>Name</h3>
                <!--Have to combine first and last to shove into full_name field-->
                <input id="first_name" placeholder="first" type="text">
                <input id="last_name" placeholder="last" type="text">
                <!--user_email-->
                <h3>Email</h3>
                <input id="user_email" placeholder="email_address">
                <!--phone_number-->
                <h3>Phone</h3>
                <input id="phone_number" placeholder="phone_number">
                <!--user_address-->
                <h3>Address</h3>
                <input id="user_address" placeholder="home_address">
              </section>

              <button class="big_red_button" style="background-color: #e74c3c; color: #fff;">PRESS</button>
              <form>
                <div class="form-group">
                  <label for="question1"> Question 1</label>
                  <textarea class="form-control" id="question1" rows="2"></textarea>
                </div>
                <hr>

                <section class="page_question2">
                  <h3>Do you have a LinkedIn account? If so please provide your user name</h3>
                  <!--linkedin-->
                  <input id="linkedin" placeholder="linkedin_username">
                  <h3>Do you have a Github account? If so please provide your user name</h3>
                  <!--github-->
                  <input id="github" placeholder="github_username">
                  <!--picture_url-->
                  <h3>Do you have a picture you would like to share?</h3>
                  <input id="picture_url" placeholder="picture_url">
                </section>

                <hr>

                <section class="page_question3">
                  <!--quote-->
                  <h3>What do you feel is your current professional title?</h3>
                  <input id="quote" placeholder="current_professional_title">
                  <!--about-->
                  <h3>Please provide a short professional summary</h3>
                  <input id="about" placeholder="Add a short summary">
                </section>

                <hr>

                <section class="page_question4">
                  <h2>Experience - Last job first</h2>
                  <!--job_company_name_1-->
                  <h3>Company</h3>
                  <input id="job_company_name_1" placeholder="Job_Company_Name_1">
                  <!--job_title_1-->
                  <h3>Title</h3>
                  <input id="job_title_1" placeholder="Job_Title_1">
                  <!--job_start_1-->
                  <h3>Start date</h3>
                  <input id="job_start_1" placeholder="Job_Start_1">
                  <!--job_end_1-->
                  <h3>End date</h3>
                  <input id="job_end_1" placeholder="Job_End_1">
                  <!--job_description_1-->
                  <h3>Description</h3>
                  <input id="job_description_1" placeholder="Job_Description_1">
                  <!--job_skills_1-->
                  <h3>Skills acquired/used</h3>
                  <input id="job_skills_1" placeholder="Job_Skills_1">
                </section>

                <hr>

                <section class="page_question5">
                  <h2>Experience - Second to last job</h2>
                  <!--job_company_name_2-->
                  <h3>Company</h3>
                  <input id="job_company_name_2" placeholder="Job_Company_Name_2">
                  <!--job_title_2-->
                  <h3>Title</h3>
                  <input id="job_title_2" placeholder="Job_Title_2">
                  <!--job_start_2-->
                  <h3>Start date</h3>
                  <input id="job_start_2" placeholder="Job_Start_2">
                  <!--job_end_2-->
                  <h3>End date</h3>
                  <input id="job_end_2" placeholder="Job_End_2">
                  <!--job_description_2-->
                  <h3>Description</h3>
                  <input id="job_description_2" placeholder="Job_Description_2">
                  <!--job_skills_2-->
                  <h3>Skills acquired/used</h3>
                  <input id="job_skills_2" placeholder="Job_Skills_2">
                </section>

                <hr>

                <section class="page_question6">
                  <h2>Experience - Third to last job</h2>
                  <!--job_company_name_3-->
                  <h3>Company</h3>
                  <input id="job_company_name_3" placeholder="Job_Company_Name_3">
                  <!--job_title_3-->
                  <h3>Title</h3>
                  <input id="job_title_3" placeholder="Job_Title_3">
                  <!--job_start_3-->
                  <h3>Start date</h3>
                  <input id="job_start_3" placeholder="Job_Start_3">
                  <!--job_end_3-->
                  <h3>End date</h3>
                  <input id="job_end_3" placeholder="Job_End_3">
                  <!--job_description_3-->
                  <h3>Description</h3>
                  <input id="job_description_3" placeholder="Job_Description_3">
                  <!--job_skills_3-->
                  <h3>Skills acquired/used</h3>
                  <input id="job_skills_3" placeholder="Job_Skills_3">
                </section>

                <hr>

                <section class="page_question7">
                  <h2>Education (pg. 1)</h2>
                  <!--education-->
                  <h3>Provide a short summary of your educational experience</h3>
                  <input id="education" placeholder="Education_Summary">
                  <!--edu_highest_grade-->
                  <h3>Highest education level</h3>
                  <input id="edu_highest_grade" placeholder="Highest_Ed_Level">
                </section>

                <hr>

                <section class="page_question8">
                  <h2>Education (pg. 2)</h2>
                  <!--school_name_1-->
                  <h3>Institute</h3>
                  <input id="school_name_1" placeholder="School_Name_1">
                  <!--school_grad_date_1-->
                  <h3>Graduation Date</h3>
                  <input id="school_grad_date_1" placeholder="School_Graduation_Date_1">
                  <!--school_major_1-->
                  <h3>Degree/Major</h3>
                  <input id="school_major_1" placeholder="School_Major_1">
                </section>

                <hr>

                <section class="page_question9">
                  <h2>Education (pg. 3)</h2>
                  <!--school_name_2-->
                  <h3>Institute</h3>
                  <input id="school_name_2" placeholder="School_Name_2">
                  <!--school_grad_date_2-->
                  <h3>Graduation Date</h3>
                  <input id="school_grad_date_2" placeholder="School_Grad_Date_2">
                  <!--school_major_2-->
                  <h3>Degree/Major</h3>
                  <input id="school_major_2" placeholder="School_Major_2">
                </section>

                <hr>

                <section class="page_question10">
                  <h2>What skills have you acquired during your career?</h2>
                  <!--skill1_name-->
                  <h3>Skill 1</h3>
                  <input id="skill_1" placeholder="Skill_1">
                  <!--skill2_name-->
                  <h3>Skill 2</h3>
                  <input id="skill_2" placeholder="Skill_2">
                  <!--skill3_name-->
                  <h3>Skill 3</h3>
                  <input id="skill_3" placeholder="Skill_3">
                  <!--skill4_name-->
                  <h3>Skill 4</h3>
                  <input id="skill_4" placeholder="Skill_4">
                  <!--skill5_name-->
                  <h3>Skill 5</h3>
                  <input id="skill_5" placeholder="Skill_5">
                </section>

                <hr>

                <section class="page_question11">
                  <h2>References (pg. 1)</h2>
                  <!--reference_name_1-->
                  <h3>Name</h3>
                  <input id="reference_name_1" placeholder="Reference_Name_1">
                  <!--reference_number_1-->
                  <h3>Phone Number</h3>
                  <input id="reference_number_1" placeholder="Reference_Phone_Number_1">
                  <!--reference_email_1-->
                  <h3>Email</h3>
                  <input id="reference_email_1" placeholder="Reference_Email_1">
                  <!--reference_relationship_1-->
                  <h3>Relationship</h3>
                  <input id="reference_relationship_1" placeholder="Reference_Relationship_1">
                </section>

                <hr>

                <section class="page_question12">
                  <h2>References (pg. 2)</h2>
                  <!--reference_name_2-->
                  <h3>First Name</h3>
                  <input id="reference_name_2" placeholder="Reference_First_Name_2">
                  <!--reference_name_2-->
                  <h3>Phone Number</h3>
                  <input id="reference_number_2" placeholder="Reference_Phone_Number_2">
                  <!--reference_email_2-->
                  <h3>Email</h3>
                  <input id="reference_email_2" placeholder="Reference_Email_2">
                  <!--reference_relationship_2-->
                  <h3>Relationship</h3>
                  <input id="reference_relationship_2" placeholder="Reference_Relationship_2">
                </section>

                <hr>

                <section class="page_question13">
                  <h2>References (pg. 3)</h2>
                  <!--reference_name_3-->
                  <h3>Name</h3>
                  <input id="reference_name_3" placeholder="Reference_First_Name_3">
                  <!--reference_number_3-->
                  <h3>Phone Number</h3>
                  <input id="reference_number_3" placeholder="Reference_Phone_Number_3">
                  <!--reference_email_3-->
                  <h3>Email</h3>
                  <input id="reference_email_3" placeholder="Reference_Email_3">
                  <!--reference_relationship_3-->
                  <h3>Relationship</h3>
                  <input id="reference_relationship_3" placeholder="Reference_Relationship_3">
                </section>

                <hr>

                <section class="page_question14">
                  <h2>Do you have projects you wish to share?</h2>
                  <!--project_name_1-->
                  <h3>Project 1 Name</h3>
                  <input id="project_name_1" placeholder="Project_Name_1">
                  <!--project_info_1-->
                  <h3>Project 1 Details</h3>
                  <input id="project_info_1" placeholder="Project_Info_1">
                  <!--project_url_1-->
                  <h3>Project 1 URL</h3>
                  <input id="project_url_1" placeholder="Project_url_1">
                </section>

                <hr>

                <section class="page_question15">
                  <h2>Project (pg. 2)</h2>
                  <!--project_name_2-->
                  <h3>Project 2</h3>
                  <input id="project_name_2" placeholder="Project_Name_2">
                  <!--project_info_2-->
                  <h3>Project 2 Details</h3>
                  <input id="project_info_2" placeholder="Project_Details_2">
                  <!--project_url_2-->
                  <h3>Project 2 URL</h3>
                  <input id="project_url_2" placeholder="Project_url_2">
                </section>

                <hr>

                <section class="page_question16">
                  <h2>Projects (pg. 3)</h2>
                  <!--project_name_3-->
                  <h3>Project 3 Name</h3>
                  <input id="project_name_3" placeholder="Project_Name_3">
                  <!--project_info_3-->
                  <h3>Project 3 Details</h3>
                  <input id="project_info_3" placeholder="Project_Details_3">
                  <!--project_url_3-->
                  <h3>Project 3 URL</h3>
                  <input id="project_url_3" placeholder="Project_url_3">
                </section>

                <!--qr_url-->
                <!--I don't remember what this field was to be used for-->

                <button class="back-btn">Back</button>
                <button class="skip-btn">Skip</button>
                <button class="next-btn">Next</button>
                <button class="clear-btn">Clear</button>
          </div>


          <!--<button type="button" class="btn" id="resume-btn">Submit</button>-->


        </div>
      </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/questions.js"></script>