<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Questions</h5>

          <div class="container">
            <form>
              <div class="form-group">
                <label for="question1"> Question 1</label>
                <textarea class="form-control" id="question1" rows="2"></textarea>
              </div>

              <div class="form-group">
                <label for="question2"> Question 2</label>
                <textarea class="form-control" id="question2" rows="2"></textarea>
              </div>

              <div class="form-group">
                <label for="question3"> Question 3</label>
                <textarea class="form-control" id="question3" rows="2"></textarea>
              </div>

              <div class="form-group">
                <label for="question4"> Question 4</label>
                <textarea class="form-control" id="question4" rows="2"></textarea>
              </div>

              <div class="form-group">
                <label for="question5"> Question 5</label>
                <textarea class="form-control" id="question5" rows="2"></textarea>
              </div>

              <div class="form-group">
                <label for="question6"> Question 6</label>
                <textarea class="form-control" id="question6" rows="2"></textarea>
              </div>

              <div class="form-group">
                <label for="question7"> Question 7</label>
                <textarea class="form-control" id="question7" rows="2"></textarea>
              </div>

              <div class="form-group">
                <label for="question8"> Question 8</label>
                <textarea class="form-control" id="question8" rows="2"></textarea>
              </div>

              <div class="form-group">
                <label for="question9"> Question 9</label>
                <textarea class="form-control" id="question9" rows="2"></textarea>
              </div>

                <div class="form-group">
                <label for="question10"> Question 10</label>
                <textarea class="form-control" id="question10" rows="2"></textarea>
              </div>

                <div class="form-group">
                <label for="question11"> Question 11</label>
                <textarea class="form-control" id="question11" rows="2"></textarea>
              </div>

                <div class="form-group">
                <label for="question12"> Question 12</label>
                <textarea class="form-control" id="question12" rows="2"></textarea>
              </div>

                <div class="form-group">
                <label for="question13"> Question 13</label>
                <textarea class="form-control" id="question13" rows="2"></textarea>
              </div>

                <div class="form-group">
                <label for="question14"> Question 14</label>
                <textarea class="form-control" id="question14" rows="2"></textarea>
              </div>

                <div class="form-group">
                <label for="question15"> Question 15</label>
                <textarea class="form-control" id="question15" rows="2"></textarea>
              </div>

                <div class="form-group">
                <label for="question16"> Question 16</label>
                <textarea class="form-control" id="question16" rows="2"></textarea>
              </div>

                <div class="form-group">
                <label for="question17"> Question 17</label>
                <textarea class="form-control" id="question17" rows="2"></textarea>
              </div>
              
                <div class="form-group">
                <label for="question18"> Question 18</label>
                <textarea class="form-control" id="question18" rows="2"></textarea>
              </div>

                <div class="form-group">
                <label for="question19"> Question 19</label>
                <textarea class="form-control" id="question19" rows="2"></textarea>
              </div>

                <div class="form-group">
                <label for="question20"> Question 20</label>
                <textarea class="form-control" id="question20" rows="2"></textarea>
              </div>

            </form>
          </div>
          <button class="home-btn">Home</button>
          <button type="button" class="btn" id="resume-btn">Submit</button>


        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>