<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Questions</h5>

          <div class="container">
<<<<<<< HEAD
            <section class="page_question1">
              <!--full_name-->
              <h3>Name</h3>
              <!--Have to combine first and last to shove into full_name field-->
              <input placeholder="first" type="text">
              <input placeholder="last" type="text">
              <!--user_email-->
              <h3>Email</h3>
              <input placeholder="email_address">
              <!--phone_number-->
              <h3>Phone</h3>
              <input placeholder="phone_number">
              <!--user_address-->
              <h3>Address</h3>
              <input placeholder="address">
            </section>
=======
            <button class="big_red_button" style="background-color: #e74c3c; color: #fff;">PRESS</button>
            <form>
              <div class="form-group">
                <label for="question1"> Question 1</label>
                <textarea class="form-control" id="question1" rows="2"></textarea>
              </div>
>>>>>>> c124d6695032eeb1f26970fd6c6a7826926db587

            <hr>

            <section class="page_question2">
              <h3>Do you have a github account?</h3>
              <!--github-->
              <div class="button">
                yes
              </div>
              <div class="button">
                no
              </div>
              <!--picture_url-->
              <h3>Do you have a picture you would like to share?</h3>
              <input placeholder="picture_url">
            </section>

            <hr>

            <section class="page_question3">
              <!--quote-->
              <h3>What do you feel is your current professional title?</h3>
              <input placeholder="current_professional_title">
              <!--opening_statement-->
              <h3>Please provide a short professional summary</h3>
              <input placeholder="Add a short summary">
            </section>

            <hr>

            <section class="page_question4">
              <h2>Experience - Last job first</h2>
              <!--job1_company_name-->
              <h3>Company</h3>
              <input placeholder="Company_1">
              <!--job1_title-->
              <h3>Title</h3>
              <input placeholder="Title_Job_1">
              <!--job1_start-->
              <h3>Start date</h3>
              <input placeholder="Job1_Start">
              <!--job1_end-->
              <h3>End date</h3>
              <input placeholder="Job1_End">
              <!--job1_description-->
              <h3>Description</h3>
              <input placeholder="Job1_Description">
              <!--job1_skills-->
              <h3>Skills acquired/used</h3>
              <input placeholder="Job1_Skills">
            </section>

            <hr>

            <section class="page_question5">
              <h2>Experience - Second to last job</h2>
              <!--job2_company_name-->
              <h3>Company</h3>
              <input placeholder="Company_2">
              <!--job2_title-->
              <h3>Title</h3>
              <input placeholder="Title_Job_2">
              <!--job2_start-->
              <h3>Start date</h3>
              <input placeholder="Job2_Start">
              <!--job2_end-->
              <h3>End date</h3>
              <input placeholder="Job2_End">
              <!--job2_description-->
              <h3>Description</h3>
              <input placeholder="Job2_Description">
              <!--job2_skills-->
              <h3>Skills acquired/used</h3>
              <input placeholder="Job2_Skills">
            </section>

            <hr>

            <section class="page_question6">
              <h2>Experience - Third to last job</h2>
              <!--job3_company_name-->
              <h3>Company</h3>
              <input placeholder="Company_3">
              <!--job3_title-->
              <h3>Title</h3>
              <input placeholder="Title_Job_3">
              <!--job3_start-->
              <h3>Start date</h3>
              <input placeholder="Job3_Start">
              <!--job3_end-->
              <h3>End date</h3>
              <input placeholder="Job3_End">
              <!--job3_description-->
              <h3>Description</h3>
              <input placeholder="Job3_Description">
              <!--job3_skills-->
              <h3>Skills acquired/used</h3>
              <input placeholder="Job3_Skills">
            </section>

            <hr>

            <section class="page_question7">
              <h2>Education (pg. 1)</h2>
              <!--education-->
              <h3>Provide a short summary of your educational experience</h3>
              <input placeholder="Education_Summary">
              <!--ed_highest_level-->
              <h3>Highest education level</h3>
              <input placeholder="Highest_Ed_Level">
            </section>

            <hr>

            <section class="page_question8">
              <h2>Education (pg. 2)</h2>
              <!--school1_name-->
              <h3>Institute</h3>
              <input placeholder="School1_Name">
              <!--school1_grad_date-->
              <h3>Graduation Date</h3>
              <input placeholder="School1_Graduation_Date">
              <!--school1_major-->
              <h3>Degree/Major</h3>
              <input placeholder="School1_Major">
            </section>

            <hr>

            <section class="page_question9">
              <h2>Education (pg. 3)</h2>
              <!--school2_name-->
              <h3>Institute</h3>
              <input placeholder="School2_Name">
              <!--school2_grad_date-->
              <h3>Graduation Date</h3>
              <input placeholder="School2_Graduation_Date">
              <!--school2_major-->
              <h3>Degree/Major</h3>
              <input placeholder="School2_Major">
            </section>

            <hr>

            <section class="page_question10">
              <h2>What skills have you acquired during your career?</h2>
              <!--skill1_name-->
              <h3>Skill 1</h3>
              <input placeholder="Skill_1">
              <!--skill2_name-->
              <h3>Skill 2</h3>
              <input placeholder="Skill_2">
              <!--skill3_name-->
              <h3>Skill 3</h3>
              <input placeholder="Skill_3">
              <!--skill4_name-->
              <h3>Skill 4</h3>
              <input placeholder="Skill_4">
              <!--skill5_name-->
              <h3>Skill 5</h3>
              <input placeholder="Skill_5">
            </section>

            <hr>

            <section class="page_question11">
              <h2>References (pg. 1)</h2>
              <!--reference1_name-->
              <h3>First Name</h3>
              <input placeholder="Reference1_First_Name">
              <h3>Last Name</h3>
              <input placeholder="Reference1_Last_Name">
              <!--reference1_number-->
              <h3>Phone Number</h3>
              <input placeholder="Reference1_Phone_Number">
              <!--reference1_email-->
              <h3>Email</h3>
              <input placeholder="Reference1_Email">
              <!--reference1_relationship-->
              <h3>Relationship</h3>
              <input placeholder="Reference1_Relationship">
            </section>

            <hr>

            <section class="page_question12">
              <h2>References (pg. 2)</h2>
              <!--reference2_name-->
              <h3>First Name</h3>
              <input placeholder="Reference2_First_Name">
              <h3>Last Name</h3>
              <input placeholder="Reference2_Last_Name">
              <!--reference2_number-->
              <h3>Phone Number</h3>
              <input placeholder="Reference2_Phone_Number">
              <!--reference2_email-->
              <h3>Email</h3>
              <input placeholder="Reference2_Email">
              <!--reference2_relationship-->
              <h3>Relationship</h3>
              <input placeholder="Reference2_Relationship">
            </section>

            <hr>

            <section class="page_question13">
              <h2>References (pg. 3)</h2>
              <!--reference3_name-->
              <h3>First Name</h3>
              <input placeholder="Reference3_First_Name">
              <h3>Last Name</h3>
              <input placeholder="Reference3_Last_Name">
              <!--reference3_number-->
              <h3>Phone Number</h3>
              <input placeholder="Reference3_Phone_Number">
              <!--reference3_email-->
              <h3>Email</h3>
              <input placeholder="Reference3_Email">
              <!--reference3_relationship-->
              <h3>Relationship</h3>
              <input placeholder="Reference3_Relationship">
            </section>

            <hr>

            <section class="page_question14">
              <h2>Do you have projects you wish to share?</h2>
              <!--project1_name-->
              <h3>Project 1 Name</h3>
              <input placeholder="Project_1_Name">
              <!--project1_info-->
              <h3>Project 1 Details</h3>
              <input placeholder="Project_1_Details">
              <!--project1_url-->
              <h3>Project 1 URL</h3>
              <input placeholder="Project_1_URL">
            </section>

            <hr>

            <section class="page_question15">
              <h2>Project (pg. 2)</h2>
              <!--project1_name-->
              <h3>Project 2</h3>
              <input placeholder="Project_2_Name">
              <!--project1_info-->
              <h3>Project 2 Details</h3>
              <input placeholder="Project_2_Details">
              <!--project1_url-->
              <h3>Project 2 URL</h3>
              <input placeholder="Project_2_URL">
            </section>

            <hr>

            <section class="page_question16">
              <h2>Projects (pg. 3)</h2>
              <!--project1_name-->
              <h3>Project 3 Name</h3>
              <input placeholder="Project_3_Name">
              <!--project1_info-->
              <h3>Project 3 Details</h3>
              <input placeholder="Project_3_Details">
              <!--project1_url-->
              <h3>Project 3 URL</h3>
              <input placeholder="Project_3_URL">
            </section>

            <!--qr_url-->
            <!--I don't remember what this field was to be used for-->

            <button class="back-btn">Back</button>
            <button class="skip-btn">Skip</button>
            <button class="next-btn">Next</button>
            <button class="clear-btn">Clear</button>
          </div>


          <!--<button type="button" class="btn" id="resume-btn">Submit</button>-->


        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<<<<<<< HEAD
=======
<script src="/js/index.js"></script>
>>>>>>> c124d6695032eeb1f26970fd6c6a7826926db587
<script src="/js/questions.js"></script>