<div class="site_container res_" id="content">

  <div class="nav_top">
    <div class="nav_left">
      <h1><ion-icon id="logo_icon" name="paper-plane"></ion-icon> &MediumSpace; Next Step Resume</h1>
    </div>
    <div class="nav_right">
      <a class="home-btn"><ion-icon name="ios-home"></ion-icon></a>
    </div>
  </div>

  <section class="resume_section">
    <div class="arrow_left"><span>&lt;</span></div>
    <div class="resume_frame">
     name: Diana Gerardo
     
    </div>
    <div class="arrow_right"><span>&gt;</span></div>
  </section>

  <div class="edit_menu">
    <div class="min_max">
      <ion-icon class="drop_menu" name="ios-arrow-down"></ion-icon>
    </div>

    <div class="menu_title">
      <p>
        <ion-icon name="ios-construct" style="transform: translateY(2px);"></ion-icon>
        toolbox
      </p>
    </div>


    <div class="tools">
      <ion-icon name="ios-download" id="download"></ion-icon>
      <ion-icon name="ios-mail"></ion-icon>
      <ion-icon class="save_button" name="ios-save" title="save"></ion-icon>
      <ion-icon class="big_red_button" name="ios-heart"></ion-icon>
    </div>

    <input class="update_field" type="text" placeholder="update your quote then click the save button">

  </div>

</div>

<div class="haze"></div>
<div class="resume_update_window_root"> 
  <div class="update_window_floating_child">
    <span class="pop_up_window" > <ion-icon name="ios-close"></ion-icon></span>
    <h3>Information will go here.</h3>
    <div class=".break"></div>
    <p>More Information</p>
  </div>
</div>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
<script src="/js/resume_page.js"></script>
{{!-- Adding jsPDF --}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js" integrity="sha384-NaWTHo/8YCBYJ59830LTz/P4aQZK1sS0SneOgAvhsIl3zBu8r9RevNg5lHCHAuQ/" crossorigin="anonymous"></script>

<script src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>


<script>
  //////////////////////////////////////////////////////////////////////////////
  // inline script for testing only. please add to resume.js when complete.
  //////////////////////////////////////////////////////////////////////////////

let menuHidden = true;

// click minimize menu button on the menu.
$(".min_max").click(function(){

  if (menuHidden){
    // have the menu slide to -90Y 
    $(".edit_menu").attr("style", "transform: translate(-50%, 0);");

    // rotate ion icon 180 deg on the X
    $(".drop_menu").attr("style", "transform: rotate(0deg);");

    // toggle menuHidden variable
    menuHidden = !menuHidden;
  } else {
    // menu slide back to -50%, 0
    $(".edit_menu").attr("style", "transform: translate(-50%, 90%);");

    // remove rotate
    $(".drop_menu").attr("style", "transform: rotate(180deg);");

    // toggle menuHidden variable
    menuHidden = !menuHidden;
  };

});

$( document ).ready(function() {
console.log(`app.js ready!`);
/* ----- Code Start ----- */

//logo icon animation
let logoAnimate = setInterval(function(){

  $("#logo_icon").attr("style", "transform: scale(1.4)");

  let frame2 = setInterval(function(){
    $("#logo_icon").attr("style", "transform: scale(1) translateY(.2em);");
    clearInterval(frame2);
  }, 600)

  clearInterval(logoAnimate);
}, 500);


$('#download').click(function () {
      html2canvas(document.querySelector("#resume-content")).then(canvas => {
        
        var a = document.createElement('a');
        // toDataURL defaults to png, so we need to request a jpeg, then convert for file download.
        a.href = canvas.toDataURL("image/jpeg").replace("image/jpeg", "image/octet-stream");
        a.download = 'somefilename.jpg';
        a.click();

      });
    });

 

 // pop up window
$(".haze").click(function() {
  console.log("You're doing it Peter.");
  $(this).css("opacity", "0");
  $(".resume_update_window_root").css("opacity", "0");
  let easeOut = setInterval(function(){
    $(".resume_update_window_root").css("display","none");
      // reset window opacity
    $(".haze").css("display", "none");
    $(".haze").css("opacity", ".5");
    clearInterval(easeOut);
  }, 300);
});

$(".pop_up_window").click(function() {
  console.log("You're doing it Peter.");
  $(".resume_update_window_root").css("opacity", "0");
  $(".haze").css("opacity", "0");
  let easeOut = setInterval(function(){
    $(".resume_update_window_root").css("display","none");
    $(".haze").css("display","none");
        // reset window opacity
   $(".haze").css("opacity", ".5");
    clearInterval(easeOut);
  }, 300);

});


/* ------ Code End ------ */
});
console.log(`loading...`);


</script>