<div class="site_container res_" id="content">

  <div class="nav_top">
    <div class="nav_left">
      <h1>
        <ion-icon id="logo_icon" name="paper-plane"></ion-icon> &MediumSpace; Next Step Resume
      </h1>
    </div>
    <div class="nav_right">
      <a class="home-btn">
        <ion-icon name="ios-home"></ion-icon>
      </a>
    </div>
  </div>

  <section class="resume_section" id="resume-content">
    <div class="arrow_left"><span>&lt;</span></div>
    <div class="resume_frame">
      <!-- resume build goes here -->
      <h1 id="name-test" style="color: blue;"> Diana Gerardo</h1>
      <h1 id="name-test" style="color: blue;"> Diana Gerardo</h1>
      <h1 id="name-test" style="color: blue;"> Diana Gerardo</h1>
    </div>
    <div class="arrow_right"><span>&gt;</span></div>
  </section>

  <div class="edit_menu">
    <div class="min_max">
      <ion-icon class="drop_menu" name="ios-arrow-down"></ion-icon>
    </div>

    <div class="menu_title">
      <p>
        <ion-icon name="ios-construct" style="transform: translateY(2px);"></ion-icon>
        toolbox
      </p>
    </div>


    <div class="tools">
      {{!-- <canvas id="canvas" width="480" height="320"></canvas> --}}
      <ion-icon name="ios-download" id="download"></ion-icon>
      <ion-icon name="ios-mail"></ion-icon>
      <ion-icon class="save_button" name="ios-save" title="save"></ion-icon>
      <ion-icon class="big_red_button" name="ios-heart"></ion-icon>
    </div>

    <input class="update_field" type="text" placeholder="update your quote then click the save button">

  </div>

</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
<script src="/js/resume_page.js"></script>
{{!-- Adding jsPDF --}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js"
  integrity="sha384-NaWTHo/8YCBYJ59830LTz/P4aQZK1sS0SneOgAvhsIl3zBu8r9RevNg5lHCHAuQ/" crossorigin="anonymous"></script>

<script src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>


<script>
  // inline script for testing only. please add to resume.js when complete.

  let menuHidden = true;

  // click minimize menu button on the menu.
  $(".min_max").click(function () {

    if (menuHidden) {
      // have the menu slide to -90Y 
      $(".edit_menu").attr("style", "transform: translate(-50%, 0);");

      // rotate ion icon 180 deg on the X
      $(".drop_menu").attr("style", "transform: rotate(0deg);");

      // toggle menuHidden variable
      menuHidden = !menuHidden;
    } else {
      // menu slide back to -50%, 0
      $(".edit_menu").attr("style", "transform: translate(-50%, 90%);");

      // remove rotate
      $(".drop_menu").attr("style", "transform: rotate(180deg);");

      // toggle menuHidden variable
      menuHidden = !menuHidden;
    };

  });

  $(document).ready(function () {
    console.log(`app.js ready!`);
    /* ----- Code Start ----- */

    //logo icon animation
    let logoAnimate = setInterval(function () {

      $("#logo_icon").attr("style", "transform: scale(1.4)");

      let frame2 = setInterval(function () {
        $("#logo_icon").attr("style", "transform: scale(1) translateY(.2em);");
        clearInterval(frame2);
      }, 600)

      clearInterval(logoAnimate);
    }, 500);

    //Downloading resume as an image using HTML2Canvas
    $('#download').click(function () {
      html2canvas(document.querySelector("#resume-content")).then(canvas => {
        document.body.appendChild(canvas);
        var a = document.createElement('a');
        // toDataURL defaults to png, so we need to request a jpeg, then convert for file download.
        a.href = canvas.toDataURL("image/jpeg").replace("image/jpeg", "image/octet-stream");
        a.download = 'somefilename.jpg';
        a.click();

      });
    });

  });




  /* ------ Code End ------ */
  console.log(`loading...`);


</script>