// image path
$img_path: "";

$contentWidth: 1100px;

// fonts 
$mainFont: 'Poppins', sans-serif;

// colors
$white : #fff;
$yellow: #f6e58d;
$orange: #f0932b;
$green: #2ecc71;
$red: #e74c3c;
$purple: #c0b1fc;

$mainColor: #dab;
$highlightColor: #add;
$bgColor: #557799;

$error: #e74c3c;
$highlightError: #c0392b;
$success: #2ecc71;
$highlightSuccess: #27ae60;

$fontColor: #555;

// link colors equal this
$linkColor: $mainColor;

// dark mode colors

$dark: #2d3436;
$highlightDark: #535c68;
$snow: #ecf0f1;

// for more colors go to https://flatuicolors.com/