// NextStepResume(c)

// reset
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


////////////////////////////////////
// import
////////////////////////////////////

// import variables from _var.scss files
@import "_var";

@import url("https://fonts.googleapis.com/css?family=Poppins:200,400,700,900&display=swap");

////////////////////////////////////
// Global 
////////////////////////////////////

html,
body {
	
	font-family: $mainFont, Arial, Helvetica, sans-serif;
	font-size: 16px;

}

p,
ion-icons {
	
	color: $fontColor;

}

.site_container {

	display: flex;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
	max-width: 1200px;
	height: auto;
	margin: auto;

}

.nav_top {

	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: auto;
	font-size: 1em;
	padding: 1em;
	z-index: 10;

	.nav_left {

		width: 70%;
		display: flex;
		flex-wrap: wrap;

		span {
			input {
				outline: none;
				border: none;
				border-bottom: 1px solid $dark;
				margin: 0 0 0 1em;
			}

			div {
				user-select: none;
				margin-left: 1em;
				display: inline-block;
			}

			div:hover {
				cursor: pointer;
				outline: 5px solid $pink;
				outline-offset: 8px;
			}

			div:active {
				transform: translateY(2px);
			}

			div:focus {
				outline: 5px solid $pink;
				outline-offset: 8px;
			}

		}

		h1 {
			font-weight: 700;

			ion-icon {
				cursor: pointer;
				font-size: 1.5em;
				transform: translateY(.2em);
			}
		}
	}

	.nav_right {
		width: 30%;
		text-align: right;

		a {
			cursor: pointer;
			ion-icon {
				font-size: 1.5em;
			}
		}
	}

}

#logo_icon {
	transition: transform .6s;
}


////////////////////////////////////
// index_       *Home Page Only* 
////////////////////////////////////
.index_{
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background-color: $dark;
	background-image: url("../../images/bottle.jpg");
	background-position: left center;
	background-size: cover;
	text-align: center;

	section {
		width: 100vw;
		height: 50%;
		display: flex;
		justify-content: center;
		font-size: 5em;
		color: #fff;
		font-weight: 700;

	}

	section:first-child {
		align-items: flex-end;
		margin-bottom: 1em;
		text-transform: uppercase;

		h2 {
			color: $pink;
			padding: .25em;
			outline: .25em solid $pink;
			opacity: 0;
			transform: translateX(-700px);
		}

		div {
			padding: .25em;
			margin-left: .25em;
			display: flex;

			#step_s,
			#step_t,
			#step_e,
			#step_p,
			#resume_r,
			#resume_e1,
			#resume_s,
			#resume_u,
			#resume_m,
			#resume_e2 {
				opacity: 0;
			    display: inline-block;
			}

			#step_s {transform: translateY(200px);}
			#step_t {transform: translateY(-350px);}
			#step_e {transform: translateX(200px);}
			#step_p {transform: translateY(400px);}

			#resume_r {transform: translateX(-150px);}
			#resume_e1 {transform: translateY(350px);}
			#resume_s {transform: translateY(-235px);}
			#resume_u {transform: translateY(125px);}
			#resume_m {transform: translateY(-450px);}
			#resume_e2 {transform: translateX(312px);}

		}

	}

	section:last-child {
		font-size: 3em;
		ul {
			li {
				font-weight: 400;
				cursor: pointer;
				padding: .2em;
				margin: .4em 0;
			}

			li:first-child {
				margin: 0;
			}
			
			li:hover {
				outline: .25em solid $pink;
			}

			#start_button:active {
				transform: translate(0, 3px);
			}

			#start_button,
			#about_button {
				min-height: 25px;
				user-select: none;
				display: block;
				opacity: 0;
				transform: translateY(-100px);
				transition: transform .2s;
			}

			li:focus,
			#start_button:focus,
			#about_button:focus {
				outline: .25em solid $pink;
			}

		}

		div {
			flex-wrap: wrap;
			justify-items: flex-start;
			display: none;
			opacity: 0;
			transition: opacity 1s;

			span {
				display: block;
				width: 100%;

				input {
					font-size: 1em;
					padding: .25em 0;
					outline: none;
					border: none;
					color: #fff;
					background-color: rgba($dark, .20);
					margin: 0 0 .25em 1em;
					width: 50%;
					min-width: 200px;
				}

				::placeholder {
					color: white;
				}

				span {
					display: flex;
					justify-content: center;
					margin: auto;
					color: #fff;

					button {
						background-color: rgba($dark, 0);
						border: none;
						color: #fff;
						font-size: 2rem;
						padding: .25em;
						margin: .25em 1em;
					}


					button:hover {
						outline: .3em solid $pink;
						background-color: rgba($dark, .20);
					}
				}
			}

		}
	}

}


////////////////////////////////////
// res_       *Resume Page Only* 
////////////////////////////////////

#full_resume {
	background-image: url(../../images/write.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	overflow: hidden;
}

.res_ {

	// this would affect only the Resume page container.

	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	min-height: 100vh;


	section {

		margin: 0;
		padding: 1em;
		.resume_frame {

			background-color: white;
			display: flex;
			flex-wrap: wrap;
			position: relative;
			overflow: hidden;

			.res_top_bar {
				width: 100%;
				height: 25%;
				background-color: $highlightDark;
				color: #fff;
				position: relative;

				h1 {
					width: 100%;
					font-weight: 700;
					font-size: 1.5em;
					position: absolute;
					text-align: center;
					top: 40%;
					left: 50%;
					transform: translate(-50%, -50%);
				}

				h2 {
					width: 100%;
					font-weight: 500;
					font-size: .8em;
					position: absolute;
					text-align: center;
					left: 50%;
					top: 60%;
					transform: translate(-50%, -50%);
				}

				div {
					font-size: .5em;
					position: absolute;
					bottom: 3px;
					left: 0;
					width: 100%;
					text-align: center;
				}
			}

			.res_left_field {
				height: 75%;
				width: 30%;
				background-color: #fab1a0;
				font-weight: 700;
				padding: .5em;

				ul {
					font-weight: 400;

					li {
						margin: .25em .25em;
					}
				}
			}

			.res_right_field {
				position: absolute;
				right: 0;
				bottom: 0;
				height: 70%;
				width: 65%;
				padding: 0 1em 1em 0;

				#summary {
					span {
						font-weight: 700;
						padding: .5em 0;
					}

					p {
						font-weight: 400;
						font-size: .8em;
					}
				}

				#work_history {
					margin: 1em 0;
					span {
						font-weight: 700;
						padding: .5em 0;
					}

					.job_wrap {
						margin: .5em 0;
						font-weight: 400;
						font-size: .8em;
						position: relative;

						.company_name {
							font-weight: 700;
						}

						.job_title {
							font-size: .6em;
						}

						.job_end {
							margin-right: 1em;
							position: absolute;
							right: 0;
							top: 0;
							font-size: .6em;
						}
						
					}
				}
			}
		}
	}

	.nav_top {
		margin-top: 2em;
		max-width: 1200px;
		background-color: #fff;
		border-bottom: 1px solid $dark;
	}

	section {
		margin-top: -2em;
	}

}

.edit_menu {

	position: fixed;
	display: flex;
	flex-wrap: nowrap;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 90%);
	width: 90%;
	max-width: 1200px;
	min-height: 256px;
	padding: 2em;
	color: $snow;
	outline-offset: 1em;
	background-color: $pink;
	outline: .5em solid $pink;
	margin: 1em auto;
	transition: transform 1s;
	
	.min_max {
		position: absolute;
		top: 0;
		right: 0;
		font-size: 2em;
		margin: .25em .5em;
		transition: transform .3s;

		.drop_menu {
			transform: rotate(180deg);
			transition: transform .8s;
		}

	}

	.min_max:hover {
		cursor: pointer;
		transform: translateY(-3px);
		transition: transform .3s;
	}

	.menu_title {

		display: flex;
		position: absolute;
		top: 0;
		left: 0;
		margin: 1em;
		width: 92%;

		p {
			border-bottom: 1px solid #fff;
			width: 100%;
			user-select: none;
			margin-left: 1.5em;
			font-family: $mainFont;
			font-size: 1em;
			font-weight: 700;
			color: $snow;
			text-transform: uppercase;
		}

	}


	.toolbox_frame {
		width: 75%;
		margin: 1em;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;

		.resume_preview_locked {
			width: 100px;
			height: 65px;
		}

		.resume_preview {
			user-select: none;
			margin: 1em;
			width: 127px;
			min-width: 127px;
			height: 165px;
			min-height: 165px;
			background-color: $snow;
			color: $dark;

			
			background-color: white;
			display: flex;
			flex-wrap: wrap;
			position: relative;

			.res_top_bar {
				width: 100%;
				height: 25%;
				background-color: $blue;
			}

			.res_left_field {
				height: 75%;
				width: 30%;
				background-color: rgba($blue, .4);
			}

			.res_right_field {
				height: 75%;
				width: 70%;
			}
			
		}

		.resume_preview:hover {
			cursor: pointer;
			transform: scale(1.2);
			transition: transform .3s;
		}

		.resume_preview:active {
			transform: scale(1.2) translateY(5px);
		}

		.business_cards_preview {
			user-select: none;
			margin: 1em 3em;
			display: block;
			width: 150px;
			height: 75px;			
			background-color: $snow;
			color: $dark;
			transition: transform .3s;
		}

		.business_cards_preview:hover {
			cursor: pointer;
			transform: scale(1.2);
			transition: transform .3s;
		}

		.business_cards_preview:active {
			transform: scale(1.2) translateY(5px);
		}
	}

	.tools {

		width: 25%;
		display: flex;
		flex-wrap: wrap;
		min-width: 64px;
		justify-content: start;
		
		a {
			color: $snow;
		}

		ion-icon {
			margin: .5em .2em .2em .2em;
			font-size: 2em;
			border: 1px solid $snow;
			padding: 3px;
			border-radius: 20%;
			background-color: $highlightDark;
		}

		ion-icon:hover {
			cursor: pointer;
			transform: translateY(-1px);
			transition: transform .1s;
		}

		ion-icon:active {
			transform: translateY(3px);
		}
	}

}

.resume_section {

	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;

	.resume_frame {
		
		box-shadow: 0 0 1em rgba($dark, .4);
		min-width: 400px;
		min-height: 550px;
	}

	.arrow_left,
	.arrow_right {
		user-select: none;
		margin: 1em;
		color: #fff;
		transform: translateY(50%);
		font-weight: 500;
		border-radius: 50%;
		font-size: 4em;
		transition: transform .3s;

		span{
			cursor: pointer;
		}
	}

	.arrow_left:hover {
		transform: translate(-5px, 50%);
	}

	.arrow_right:hover {
		transform: translate(5px, 50%);
	}

	.arrow_right:active {
		transform: translate(5px, 52%);
	}

	.arrow_left:active {
		transform: translate(-5px, 52%);
	}

}

.haze {
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba($dark, .9);
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: .5;
	transition: opacity .3s;
	z-index: 75;
}

.resume_update_window_root {
	width: 60%;
	min-width: 256px;
	height: 70%;
	min-height: 256px;
	position: absolute;
	top: 50%;
	left: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 1;
	transition: opacity .3s;
	transform: translate(-50%, -50%);
	z-index: 999;
	
	.update_window_floating_child {
		position: relative;
		width: 90%;
		height: 95%;
		color: $snow;
		background-color: $pink;
		outline-offset: 2em;
		outline: 1em solid $pink;
		z-index: 99;
		opacity: 1;
		transform: translateY(5%);
		padding: 2em;
		overflow: hidden;

		h3 {
			font-weight: 900;
		}

		h2 {
			font-size: 2em;
			font-weight: 700;
			border-bottom: 1px solid #fff;
			width: 100%;
			padding: .5em 0;
			margin-bottom: .5em;
		}

		p {
			font-weight: 200;
			font-size: 1.5em;
		}

		span {
			position: absolute;
			top: 0;
			right: .5em;
			padding: .5em;
			cursor: pointer;
			transition: transform .3s;


			ion-icon {
				font-size: 4em;
				color: $snow;
				transition: transform .3s;
			}
		}

		span:hover ion-icon {
			transform: rotate(360deg);
			transition: transform .5s;
		}

		h3 {
			font-size: 1.5em;
			display: block;
			padding: 1em;
			margin: 1em;
		}

		.break {
			width: 90%;
			margin: auto;
			border-bottom: 1px solid $snow;
		}

		p {
			color: $snow;
		}

	}
}

////////////////////////////////////
// questions_       *questions Page Only* 
////////////////////////////////////

.questions_ {
	width: 100vw;
	height: 100vh;
	overflow-y: scroll;
	overflow-x: hidden;
	color: white;
	background-image: url(../../images/brick-wall_dark.jpg);
	background-position: center center;
	background-size: cover;

	.skip {

		position: absolute;
		bottom: .1em;
		right: .1em;
		font-size: 2em;
		overflow: hidden;

		button {	
			background-color: $pink;
			border: none;
			border-radius: 8px 8px 0 0;
			ion-icon {
				color: white;
			}
		}

		button:hover {
			cursor: pointer;
			
		}

		button:active {
			transform: translateY(4px);
		}
	}
	
	.card-body {

		width: 100%;
		overflow: hidden;

		h1 {
			width: 85%;
			margin: 1em auto;
			background-color: rgba($dark, .5);
			text-align: center;
			padding: .5em;
			font-size: 4em;
			font-weight: 700;
			outline: .1em solid $pink;
			outline-offset: .2em;
			
			span{
				margin: .5em .5em;
				outline-offset: .25em;
				outline: .3em solid $pink;
				display: inline-block;
				color: $pink;
				text-transform: uppercase;
			}
		}

		.school_in_summer_time {

			display: flex;
			flex-wrap: wrap;
			justify-content: center;

			form{

				font-size: 1.5em;
				margin: .5em 0;
				width: 80%;
				max-width: 1200px;

				section {
					margin: 1.8em 0;
					background-color: rgba($dark, .5);
					min-width: 70%;
					max-width: 100%;
					height: auto;
					padding: 1em;
					outline: .5em solid $pink;
					outline-offset: .5em;

					h3 {
						span {
							font-size: .8em;
							font-style: italic;
						}
					}
				}

				input {
					padding: .25em;
					margin: .2em 0 .8em 0;
					min-width: 48%;
				}

			}
		}
	}
}

.__hide {
	display: none;
}

.__opacity_0{
	opacity: 0;
}

#demo {
	overflow: hidden;
	width: 100vw;
	height: 100vh;
	background-image: url("../../images/abstract-antique.jpg");
	background-size: cover;
	background-position: top center;

	.top {
		color: $dark;
		width: 100%;
		height: 30%;
		justify-content: center;
		align-items: center;
		display: flex;

		h1 {
			color: #fff;
			font-size: 5em;
			outline: .25em solid #fff;
			outline-offset: .5em;
			text-transform: uppercase;
			font-weight: 900;
		}
	}

	.extra_bottom {
		display: flex;
		width: 100%;
		height: auto;
		max-width: 1000px;
		margin: auto;
		justify-content: center;
		align-items: center;
		padding: 1em;

		section {
			width: 950px;
			min-height: 200px;
			background-color: #fff;
			outline: .25em solid #fff;
			outline-offset: .5em;

			h2 {
				padding: .3em .3em .3em 1em;
				font-weight: 700;
				font-size: 1.2em;
				border-bottom: 1px solid $dark;
				margin: .5em auto;
				width: 90%;
			}

			p {
				font-size: 1em;
				font-weight: 400;
				padding: .3em 3em;
			}
		}
	}

	.bottom {
		display: flex;
		align-items: center;
		justify-content: center;
		max-width: 1000px;
		margin: auto;
		section {
			background: white;
			width: 200px;
			margin: 3em auto;
			height: 200px;
			color: $dark;		
			outline-offset: .5em solid #fff;
			outline-offset: .5em;
			outline: .25em solid #fff;
			outline-offset: .5em;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			text-align: center;
	
			.image_wrap_demo {
				height: 80%;
				display: flex;
				align-items: center;
				justify-content: center;
	
				img {
					padding: 1em;
					height: 100%;
					max-width: 100%;
				}
			}
	
			h2 {
				height: 20%;
				width: 100%;
				font-size: 2em;
				font-weight: 700;
				color: $highlightDark;
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}
	}

}

#card {
	width: 120px;
	height: 65px;
	background-color: #fff;
	margin: 5em 0 0 5em;
	display: flex;
	transition: transform .3s;

	.box_1 {
		width: 40%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;

		.black_box {
			width: 35px;
			height: 35px;
			background-color: $highlightDark;
		}
	}

	.box_2 {
		width: 60%;
		height: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: flex-start;

		.grey_box {
			margin-top: 7px;
			width: 80%;
			height: 10px;
			background-color: grey;
		}

		.grey_box2 {
			margin-top: 3px;
			width: 80%;
			height: 10px;
			background-color: gray;
		}
	}
}

#card:hover {
	cursor: pointer;
	transform: scale(1.2);
}

#card:active {
	transform: scale(1.2) translateY(4px);
}

#business_card {
	display: none;
	flex-wrap: wrap;
	width: 400px;
	height: 200px;
	background-color: #fff;
	overflow: hidden;

	.qr {
		width: 180px;
		height: 200px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.qr:hover {
		cursor: pointer;
	}

	.texts {
		width: 220px;
		height: 200px;
		display: flex;
		align-items: center;
		justify-content: center;
	
		p {
			font-weight: 400;
			width: 100%;
			height: auto;
			padding: .5em 0 1em 0;
			font-weight: 700;
			span {
				font-weight: 400;
				display: block;
			}
		}
	}
}