
////////////////////////////////////
// import
////////////////////////////////////

// import variables from _var.scss files
@import "_var";

@import url("https://fonts.googleapis.com/css?family=Poppins:200,400,700,900&display=swap");


.resume_update_window_root {
    width: 96%;
    height: 80%;
}

.resume_section {

	.resume_frame {
        transform: scale(.8);
    }
}

////////////////////////////////////
// index_       *Home Page Only* 
////////////////////////////////////
.index_{
    background-size: auto 100%;
    
    section {
        font-size: 1.5em;
    }

    section:last-child {
        font-size: 2em;
        
        ul {
            li {
                padding: .5em;
                margin: .4em 0;
            }
        }

        div {
            span {
                input{
                    margin: .25em 0;
                    width: 90%;
                }
            }
        }
    }
}

.questions_ {

    .card-body {
        h1{ 
        font-size: 3.5em;

            span {
                margin: .5em 0;
            }
        }

        .school_in_summer_time {
            form {
                width: 98%;
                input {
                    width: 98%;
                }
            }
        }
    }
}

.nav_top {
    margin-top: 0;
}

.full_resume {
    background-position: center center;
    .res_{
        .edit_menu{
            margin: 0;
        }
    }
}

.edit_menu {
    position: relative;
    transform: translate(0px, 0px);
    left: 0;
    top: 0;

    .min_max {
        display: none;
    }
}