@import url("https://fonts.googleapis.com/css?family=Poppins:200,400,700,900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html,
body {
  font-family: "Poppins", sans-serif, Arial, Helvetica, sans-serif;
  font-size: 16px; }

p,
ion-icons {
  color: #555; }

.site_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1200px;
  height: auto;
  margin: auto; }

.nav_top {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  font-size: 1em;
  padding: 1em;
  z-index: 10; }
  .nav_top .nav_left {
    width: 50%; }
  .nav_top .nav_right {
    width: 50%;
    text-align: right; }

.res_ {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .res_ .nav_top {
    position: absolute;
    top: 0;
    max-width: 1200px; }

.edit_menu {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 90%;
  min-height: 256px;
  padding: 2em;
  border-radius: 1em;
  color: #ecf0f1;
  background-color: #2d3436;
  margin: 1em auto;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  -o-transition: transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s; }
  .edit_menu .min_max {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 2em;
    margin: .25em .5em;
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    -o-transition: transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s; }
    .edit_menu .min_max .drop_menu {
      -webkit-transition: -webkit-transform .8s;
      transition: -webkit-transform .8s;
      -o-transition: transform .8s;
      transition: transform .8s;
      transition: transform .8s, -webkit-transform .8s; }
  .edit_menu .min_max:hover {
    -webkit-transform: translateY(3px);
    -ms-transform: translateY(3px);
    transform: translateY(3px);
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    -o-transition: transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s; }
  .edit_menu .menu_title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    margin: 1em; }
    .edit_menu .menu_title p {
      font-family: "Poppins", sans-serif;
      font-size: 1em;
      font-weight: 700;
      color: snow;
      text-transform: uppercase; }
