@import "_vars";

#pdf {

width: 850px;
height: 1100px;
display: flex;
flex-wrap: wrap;
overflow: hidden;

     .name{
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 20%;
          background-color: $blue;
          .full_name{
               font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
               width: 75%; 
         }
          .quote{
          }
         .picture_url{
              height: 150px;
              width: 150px;
              border-radius: 100%;
         }
     }
     .past_jobs{
          width: 75%;
          height: 80%;
          background-color: $white;
          flex-wrap: wrap;
          p{
               padding-left: 10px;
               padding-right: 5px;
               font-size: 110%;
          }
          .job1_start{
width: 100px;
          }
          .job1_end{
               width: 100px;

          }
          .opening_statment{
               font-weight: bolder;
          }
          .titles{
               font-style: oblique;
               font-size: 140%;
          }
          .description{
               font-size: 95%;
          }
     }
     .contact_info{
          width: 25%;
          height: 80%;
          background-color: $steel;
          flex-direction: column;
          align-items: center;

          p{
               font-weight: bolder;
               padding-left: 10px;
               font-size: 105%;
          }
     }
}